<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista Cache</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    mode="ios"
    animated="true"
    placeholder="Cerca cache:"
    [debounce]="500"
    (ionInput)="FiltraRisultati($event)"
  ></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let cache of listaCacheFiltrate">
      <ion-label>
        <h2>{{cache.nome}}</h2>
        <p>{{cache.descrizione}}</p>
        <p>Difficoltà: {{cache.difficolta}}</p>
      </ion-label>
      <ion-button (click)="Visualizza(cache.id)"
        ><ion-icon name="eye" slot="end"></ion-icon
      ></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
