ion-item {
  position: "absolute";
}

.map {
  // position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.map.visible {
  opacity: 1;
}
.item .sc-ion-label-md-h{
  position: relative;
    left: 5%;
}

