ion-searchbar {
  margin-top: 15px;
}

.card {
  box-sizing: border-box;
  width: 150px;
  height: 230px;
  border: 1px solid rgb(255, 145, 0);
  box-shadow: 12px 17px 51px rgba(249, 153, 44, 0.056);
  border-radius: 17px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s;
  margin: 3%;
}

.prova {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-body {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0.8em;
}

/*Text*/
.text-title {
  font-size: 1.2em;
  font-weight: bold;
}

.descrizione {
  max-height: 120px;
}

.aggiungi-cache {
  --ion-color-primary: #eaa932;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
