p {
  margin: 10px;
}

ion-label {
  margin-bottom: 17px;
  margin-top: 17;
}

.dati-personali {
  font-size: 1.7em;
  margin-top: 30px;
  margin-bottom: 20px;
}

ion-button {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
