<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cache"></ion-back-button>
    </ion-buttons>
    <ion-title>Cache: {{cache.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-top: 20px" *ngIf="cacheTrovata" lines="none">
    <ion-label
      color="success"
      style="font-size: 1.3em; height: 45px; display: flex; align-items: center"
      >Cache già trovata!</ion-label
    >
    <ion-icon name="checkmark-outline" color="success"></ion-icon>
  </ion-item>
  <ion-item style="margin-top: 20px" *ngIf="!cacheTrovata" lines="none">
    <ion-label style="display: inline-block; font-size: 1.2em"
      >Hai trovato questa Cache?</ion-label
    >
    <div class="checkbox-apple">
      <input
        class="yep"
        id="check-apple"
        type="checkbox"
        [(ngModel)]="selezionato"
        (click)="VerificaParolaOrdine()"
      />
      <label for="check-apple"></label>
    </div>
    <ion-alert
      trigger="present-alert"
      header="{{headerAlert}}"
      message="{{messageAlert}}"
      [buttons]="alertButtons"
      isOpen="{{isAlertOpen}}"
    ></ion-alert>
  </ion-item>

  <!-- ----------------------------------------- -->
  <div class="formLallero">
    <ion-card>
      <ion-card-header>
        <img [src]="cache.img" />
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Descrizione e indizi:</ion-card-title>
        {{cache.descrizione}}
      </ion-card-content>
    </ion-card>
  </div>
  <!-- ----------------------------------------- -->
  <form
    #formFeedback="ngForm"
    (submit)="InviaFeedback(formFeedback)"
    *ngIf="!CheckFeedbackGiaLasciato()"
  >
    <ion-item [disabled]="!cacheTrovata">
      <ion-label position="stacked" color="secondary"
        >Inserisci il tuo feedback</ion-label
      >
      <ion-textarea
        rows="6"
        name="feedback"
        type="text"
        [(ngModel)]="feedback.text"
        required
      ></ion-textarea>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!cacheTrovata || !formFeedback.valid"
      class="button-standard"
      >Invia feedback</ion-button
    >
  </form>

  <ion-item lines="none" *ngIf="CheckFeedbackGiaLasciato()">
    <ion-textarea disabled="true" style="margin-top: 30px">
      {{feedback.text}}
    </ion-textarea>
  </ion-item>
</ion-content>

<ion-footer style="align-items: center">
  <ion-button
    class="button-orange"
    expand="block"
    id="lallero"
    (click)="ApriTuttiFeedback()"
  >
    tutti i feedback
  </ion-button>
</ion-footer>

<ion-modal
  #modal
  trigger="lallero"
  [initialBreakpoint]="0.50"
  [breakpoints]="[0, 0.25, 0.5, 0.75, 1]"
>
  <ng-template>
    <ion-content>
      <ion-list style="padding: 2px">
        <ion-item *ngFor="let feed of listaFeedbackCache">
          <p>{{feed.text}}</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
