<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cache"></ion-back-button>
    </ion-buttons>
    <ion-title>Aggiungi una Cache:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formAggiungiCache="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="warning">Nome Cache:</ion-label>
        <ion-input
          name="nome"
          type="text"
          [(ngModel)]="cacheAggiunta.nome"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="warning"
          >Descrizione e indizi:</ion-label
        >
        <ion-input
          name="descrizione"
          type="text"
          [(ngModel)]="cacheAggiunta.descrizione"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="warning"
          >Parola d'ordine:</ion-label
        >
        <ion-input
          name="parolaOrdine"
          type="text"
          [(ngModel)]="cacheAggiunta.parolaOrdine"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="warning">Difficoltà</ion-label>
        <ion-item>
          <ion-select
            interface="popover"
            placeholder="Scegli il livello"
            color="warning"
            (ionChange)="SelezionaDifficolta($event)"
          >
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>

      <!-- BOTTONE DI PROVA PER LE FOTO-->
      <ion-item>
        <ion-label color="warning">Scatta una foto</ion-label>
        <ion-item>
          <ion-icon name="camera" (click)="scattaFoto1()" slot="end"></ion-icon>
        </ion-item>
      </ion-item>

      <ion-thumbnail  style="height: 50%;width: 50%;left: 25%;position: relative;">
        <img style="border-radius: 30px;"
          [src]="selectedImage ? selectedImage.webPath : '../../assets/foto/cimitero.png' "
        />
      </ion-thumbnail>
    </ion-list>

    <label style="font-size: 1.2em; margin-left: 15px"
      >Scegli la posizione della Cache:</label
    >
    <div
      style="
        position: absolute;
        margin-left: 15px;
        margin-top: 15px;
        margin-right: 15px;
        height: 50%;
      "
      class="mapPicker"
      #mapPicker
    ></div>
  </form>
</ion-content>

<ion-footer>
  <ion-button
    class="conferma"
    id="invio-nuova-cache"
    type="submit"
    [disabled]="!formAggiungiCache.valid || !isCoordinateSelected"
    >CONFERMA
    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
  </ion-button>
  <ion-alert
    trigger="invio-nuova-cache"
    header="Vuoi confermare?"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-footer>
