<ion-header>
  <ion-toolbar>
    <ion-title>Area amministratore</ion-title>
    <ion-icon
      name="log-out"
      slot="end"
      routerLink=""
      class="torna-home"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrato">
    <button routerLink="utenti-registrati">Utenti registrati</button>
    <button routerLink="lista-cache">Lista Cache</button>
    <button routerLink="richieste-approvazione">Richieste approvazione</button>
    <button routerLink="aggiungi-admin">Aggiungi Admin</button>
  </div>
</ion-content>
