<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="richieste-approvazione"></ion-back-button>
    </ion-buttons>
    <ion-title>Dettagli Cache: {{cache.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="formLallero">
    <ion-card>
      <ion-card-header>
        <img [src]="cache.img" />
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Descrizione e indizi:</ion-card-title>
        {{cache.descrizione}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
